<h1>Dashboards#show</h1>

<%= shout_form_for(TextShout) do |f| %>
  <%= f.text_field :body, placeholder: "Shout here!", required: true %>
<% end %>

<%= shout_form_for(PhotoShout) do |f| %>
  <%= f.file_field :image, required: true %>
<% end %>


<%= render @shouts %>
